.login-screen {
  display: flex;
  height: 90vh;
}

.left-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side img {
  max-width: 100%;
  max-height: 100%;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.login-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-content h2 {
  margin-bottom: 10px;
}

.login-content input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: "none";
}

.login-content .button {
  width: 60%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #020100;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  user-select: "none";
}

.login-content .button .button-text {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  user-select: none;
}

.logoStyle {
  width: 60px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo-slogan-1 {
  font-size: 34px;
  font-weight: 600;
}

.teal-color-text {
  color: #08a593;
}
.steel-blue-text {
  color: #667085;
}

.logo-slogan-2 {
  font-size: 14px;
}

.passwordInputBox {
  width: 63%;
  height: 15px;
  padding: 10px 10px 10px 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 10%;
}

.visibleIcon {
  width: 100%;
  height: 15px;
}

.signUp-section-long-text {
  font-size: 14px;
  font-weight: lighter;
}
